[general]
sleep_time_sec = 3600

[abuseipDB]
token = token_key


[takedown]
enable = yes
user = user
password = password

[logging]
log_json = yes

[telegram]
enable = no
token = telegram_token
chat_id = id